services:
  db:
    image: mysql:8.0
    platform: linux/amd64
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: zaico_development
    command: --default-authentication-plugin=mysql_native_password

  web:
    build:
      context: .
    ports:
      - "3000:3000"
    volumes:
      - .:/rails
      - bundle:/usr/local/bundle
    environment:
      RAILS_ENV: development
      DATABASE_HOST: db
      DATABASE_USERNAME: root
      DATABASE_PASSWORD: password
    depends_on:
      - db
    tty: true
    stdin_open: true

volumes:
  bundle:
  mysql_data:
